h1 {
  font-size: 1em;
}
h2 {
  font-size: 1em;
}

#collection .title {
  margin: 20px 0 40px 0;
}

.collection-item .card {
  background-color: #eee;
  margin: 20px 0 40px 0;
  padding: 10px;
}

.collection-item .card-label {
  margin-top: 10px;
  line-height: 1em;
}

.collection-item .card-content {
  font-size: 3em;
  line-height: 1em;
}

#menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8em;
  background-color: #444;
  color: #fff;
  padding: 0 20px 0 0;
}