
//http://thesassway.com/intermediate/dynamically-change-text-color-based-on-its-background-with-sass
@function set-default-span-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000000; // Lighter backgorund, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}

$default_span_color: rgb(172, 34, 34);   

body {
  background-color: yellow;
}

h1 {
  font-size: 1em;
}
h2 {
  font-size: 1em;
}

#collections-add {
  background-color: #eee;
  margin: 20px 0 40px 0;
  padding: 10px;
}

#collections-add input {
  margin-right: 10px;
}

#collection .title {
  margin: 20px 0 40px 0;
}

.collection-item .card {
  background-color: #eee;
  margin: 20px 0 40px 0;
  padding: 10px;
  span {
    display: block;
    padding: 5px;
    margin: 10px 0;
  }
}

.collection-item .card-label {
  margin-top: 10px;
  line-height: 1em;
}

.collection-item .card-content {
  font-size: 3em;
  line-height: 1em;
}

.collection-item .card-content span {
  margin-top: 5px;
  padding: 8px;
  display: block;
  text-transform: lowercase;
  color: set-default-span-text-color($default_span_color);
  strong {
    padding-right: 10px;
  }
}

#menu-toggle {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.8em;
  background-color: #444;
  color: #fff;
  padding: 0 20px 0 0;
}

.panel {
  background-color: #fff;
  border: none;
  box-shadow: none;
  background-image: none;
  background: none;
  background-color: none;
}
.panel-group .panel {
  border-radius: 0;
}

.panel-default {
  border: none;
}

.panel-default > .panel-heading {
  background-image: none;
  background: none;
  background-color: #fff;
}